* {
    box-sizing: border-box;
}


form {
    gap: 5vh;
    background-color: rgb(165, 255, 255);
    padding: 5%;
    height: 60vh;
    aspect-ratio: 6 / 5;
    margin: 5% auto;
}

input {
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
    height: 50%;
}

#Togglepw {
    margin-left: -15px;
    position: absolute;
}

#password {
    width: 100%;
}
