* {
    box-sizing: border-box;
}


form {
    gap: 5vh;
    background-color: rgb(255 227 196);
    padding: 5%;
    height: 60vh;
    aspect-ratio: 6 / 5;
    margin-top: 5%;
}


button[type='submit'], button[type='reset'] {
    padding: 2px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5%;
    height: 50%;
}

.radio {
    width: 13px;
}

#password {
    width: 100%;
}
