:root {
    --hover: rgba(218, 218, 218, 0.5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    margin-bottom: 8vh;
}

img {
    display: inline;
    height: 100%;
}

hr {
    width: 100%;
}

textarea {
    resize: none;
    padding: 5px;
}

label {
    align-items: center;
}

.main, .related {
    margin: 1vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    height: 15vh;
    width: 100%;
    background-image: url(./images/oak\ background.png);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon {
    background-color: transparent;
    height: 80%;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    background-color: #c6a58170;
    filter: brightness(0.9);
}

.menu-button, .menu-item, .settings {
    font-size: 20px;
    padding: 10%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menu-logo {
    margin-bottom: 5vh;
    height: 15vh;
    display: flex;
    gap: 10%;
    padding: 10px;
    align-items: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding:3% 5% 3% 15%;
    justify-content: start;
    background-color: rgb(255 247 238);
    gap: 20%;
    height: 8vh;
}

.menu-item:hover {
    filter: brightness(0.9);
}

.random {
    padding: 8% 10% 8% 10%;
}

.flip {
    transform: rotate(-180deg);
}

.transition {
    transition: all 0.3s;
}

.user-button {
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

.menu-button:hover {
    background-color: var(--hover);
}

.settings {
    background-color: transparent !important;
}

.user-button:hover {
    background-color: var(--hover);
}

.open {
    display: flex !important;
}

.open#menu-list {
    transform: translateX(300px);
}

.open.darken {
    filter: opacity(0.5);
    pointer-events: all;
    overflow: hidden;
}

.darken {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    filter: opacity(0);
    background-color: rgb(51, 51, 51);
    transition: filter 0.5s;
    pointer-events: none;
    z-index: 2;
}


.banner {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 90%;
    aspect-ratio: 3 / 1;
    cursor: pointer;
}

.ad {
    object-fit: cover;
    border: 1px black solid;
    width: 100%;
}

.search-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    margin-top: -1vh;
}

.search {
    margin: 0;
    aspect-ratio: 1;
    height: 5vh;
    border-radius: 0 15px 15px 0;
    background-color: #efc89d;
    transition: all 0.3s;
}

.search:hover {
    background-color: #c6a581;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 7vh;
    padding: 1vh 0;
    transition: all 1s;
}

.filter {
    height: 4.6vh;
    display: inline;
    position: relative;
    right: 10vh;
    margin: 0.2vh 0;
    border-radius: 50%;
    transition: all 0.2s;
}

.filter:hover {
    background-color: var(--hover);
}

.filter-menu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#filter-menu {
    width: 66.4vw;
    left: 16.8vw;
    background-color: #ffd4a7;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all 1s;
    z-index: -1;
    position: absolute;
    transform: translateY(-38vh);
    transition: transform 1s;
}

#filter-menu.down {
    transform: translateY(8vh);
}

#filter-menu.index {
    z-index: 1;
}

.search-container.down {
    margin-bottom: 45vh;
}

.search-column {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* flex-grow: 1; */
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 5%;
    height: 28vh;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.filter-label {
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    height: 8vh;
    padding: 2%;
    align-items: center;
    background-color: #ffd4a7;
    flex: 0 0 8vh;
    gap: 20%;
    user-select: none;
}

.filter-label:hover {
    filter: brightness(0.9);
}

.color-circle {
    aspect-ratio: 1;
    border-radius: 50%;
    height: 5vh;
    margin-left: 5%;
}

.sort-bar {
    width: 100%;
    height: 5vh;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 5vw;
    margin: 5% 0 1% 0;
}

.sort-button {
    width: 10%;
    height: 100%;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    user-select: none;
}

.sort-button.sort {
    background-color: black;
    color: white;
    pointer-events: none;
}

.sort-button.sort:hover {
    background-color: black;
}

.sort-button:hover {
    background-color: var(--hover);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5vh;
}

.recommended-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 20vw;
    gap: 0.5vw;
    width: 100%;
}

.item,
.result-item,
.related-item {
    aspect-ratio: 1;
    border: 1px #adadad solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 70% 10% 10% 10%;
    height: 100%;
    padding: 3px;
    cursor: pointer;
}

.item:hover,
.result-item:hover,
.related-item:hover {
    background-color: var(--hover);
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-top: 1%;
    width: 100%;
    min-height: 100vh;
}

.result-item {
    width: 23%;
    /* height: 40vh; */
    aspect-ratio: 1;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    margin: 0 auto;
    width: 100%;
}

.category {
    aspect-ratio: 1;
    width: 12%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
}

.category > span {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.category > img {
    height: 80%;
}

.category:hover {
    background-color: var(--hover);
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-around;
}

.end {
    display: flex;
    justify-content: end;
}


.pointer {
    cursor: pointer;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.square {
    aspect-ratio: 1;
    object-fit: contain;
}

/* --------------------------------------------------------------------------------------------------- */

.background {
    background-image: url(./images/profile\ background.jpg);
    margin-top: 5vh;
    width: 80vw;
    height: 32vw;
    padding: 5% 0 5% 10%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    gap: 0;
}

.equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10%;
    font-size: 1.5vw;
    display: flex;
    gap: 5%;
    height: 50%;
}

.grow {
    flex-grow: 1;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vw;
}

.pfp > img:last-child {
    height: 95%;
    aspect-ratio: 1;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.edit {
    position: absolute;
    right: 11vw;
    top: 23vh;
    padding: 5px;
    width: 3vw;
    height: 3vw;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.6vw;
    background-color: rgb(233, 233, 233);
    transition: 0.2s all;
}

.edit:hover {
    filter: brightness(0.9);
}

.delete {
    transition: all 0.3s;
}

.delete:hover {
    background-color: rgb(247, 88, 88) !important;
}

.camera {
    position: absolute;
    filter: opacity(0);
    height: 22.8vw;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.3s filter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera > img {
    height: 50%;
}


.camera:hover {
    filter: opacity(1);
    background-color: var(--hover);
}

.camera.furniture {
    height: 12vh;
    position: relative;
    left: 11vh;
}

.options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 5px;
}

.custom {
    border: none;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    /* width: 100%; */
}

.button {
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgb(240, 240, 240);
    width: 6vw;
    aspect-ratio: 2 / 1;
    transition: 0.3s background-color;
}


.custom.button:hover {
    background-color: lightgray;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.yes:hover {
    background-color: rgb(37, 255, 37) !important;
}

.none {
    display: none;
}

.border {
    border: 2px solid grey;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 5vh;
}

/* --------------------------------------------------------------------------------------------------- */

.split, .card, .input-split {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
}

.input-split {
    grid-template-columns: 30% 70%;
}

.product-info {
    margin-right: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 20px;
    font-size: 18px;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product-image {
    aspect-ratio: 9 / 10;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    margin-left: 10%;
}

.product-image > img {
    object-fit: contain;
    width: 100%;
    border-radius: 20px;
}

.name {
    font-size: 1.7vw;
}

.brand {
    color: gray;
    font-size: 1.2vw;
}

.price {
    font-size: 2.5vw;
}

.related-list {
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex: 0 0 20vw;
    flex-wrap: nowrap;
    gap: 3%;
    padding: 1%;
    border-radius: 20px;
}


.related-item {
    padding-bottom: 1%;
}

.color-list {
    margin-top: 5%;
    height: 10vw;
    display: flex;
    align-items: center;
    gap: 5%;
    overflow-x: auto;
}

.color {
    aspect-ratio: 1;
    height: 4vw;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 3px 1px black;
}

.color-img {
    aspect-ratio: 1;
    height: 8vw;
    border: 1px solid black;
}

.color-img > img {
    object-fit: contain;
    width: 100%;
}

.color-img:hover {
    background-color: var(--hover);
}

.related {
    align-items: flex-start;
    font-size: 18px;
}

.highlighted {
    border: 5px solid yellow;
}

.label-highlight {
    background-color: yellow;
}

.back {
    position: absolute;
    height: 3vh;
    margin: 0 5%;
    font-size: 20px;
    color: orange;
    display: flex;
    align-items: center;
}

.action-bar {
    display: flex;
    position: absolute;
    height: 8vh;
    width: auto;
    right: 3vw;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

.action-button {
    height: 4vw;
    width: 4vw;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(225, 225, 225);
    padding: 1vw;
}

.action-button.green {
    background-color: rgb(33, 253, 33);
}

.action-button:hover, .addition:hover, .sub:hover {
    background-color: rgb(240, 240, 240);
}

.action-button.green:hover {
    background-color: rgb(18, 187, 18);
}

.addition, .number, .sub {
    user-select: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px;
    background-color: rgb(225, 225, 225);
    height: 5vh;
    width: 100%;
}

.addition {
    border-radius: 0 10px 10px 0;
    border-left: solid  1px grey;
}

.sub {
    border-radius: 10px 0 0 10px;
    border-right: solid  1px grey;
}

.counter {
    display: flex;
    width: 100%;
}

/* --------------------------------------------------------------------------------------------------- */

.columns {
    margin: 1vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rows {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.column {
    border-right: 1px solid grey;
    text-align: center;
    width: 10%;
    font-size: 1.25vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    width: 20%;
    padding: 0 1%;
}

.ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    width: 80%;
}

.image {
    width: 20%;
}

.image > img {
    object-fit: contain;
    max-width: 60%;
}

.list-options {
    display: flex;
    width: 100%;
    justify-content: end;
    gap: 5vw;
}


/* --------------------------------------------------------------------------------------------------- */
.edit-furniture {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    height: 52vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.edit-furniture > hr {
    scroll-snap-align: start;
}

.variant-delete, .variant-white {
    aspect-ratio: 1;
    height: 6vh;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s;
}

.variant-delete:hover {
    background-color: rgb(247, 88, 88);
}

.add {
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.error {
    border: 2px solid red;
}

.hapus {
    color: red;
    padding: 0.5%;
}


/* --------------------------------------------------------------------------------------------------- */

.brand-container {
    display: flex;
    width: 60%;
    height: 14.4vw;
    margin: 5% 0;
    align-items: center;
}

.brand-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.brand-logo {
    display: flex;
    aspect-ratio: 1;
    width: 30%;
    border: 2px solid black;
}

.brand-logo > img {
    object-fit: contain;
    width: 100%;
}

.brand-name {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 50%;
    padding-left: 5%;
    padding-bottom: 1%;
    font-size: 18px;
}

.brand-name > span {
    font-size: 3vw;
}

.social {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
    gap: 2%;
    padding-top: 1%;
}

.social-link {
    aspect-ratio: 1;
    height: 7vh;
    border-radius: 50%;
}

.cat {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    margin: 5% 0;
}

.brand-description {
    font-size: 20px;
    text-align: center;
    white-space: pre-line;
}

.camera.brand {
    width: 14vw;
    height: auto;
    position: absolute;
    border-radius: 0 !important;
}

.social-list {
    width: 400px;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    height: 400px;
    justify-content: space-between;
    gap: 5%;
}

/* --------------------------------------------------------------------------------------------------- */

#menu-list {
    position: fixed;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 239 218);
    transition: transform 0.5s;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    user-select: none;
    z-index: 3;
}

#menu-list::-webkit-scrollbar {
    display: none;
}

#user-menu {
    background-color: white;
    border-radius: 5%;
    position: absolute;
    right: 6vw;
    top: 4vh;
    box-shadow: 0 0 5px 5px rgba(135, 134, 134, 0.384);
    width: 10vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

#search-bar {
    width: 80%;
    height: 5vh;
    margin: 0;
    border-radius: 15px 0 0 15px;
    padding-left: 1vw;
}

#user {
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    aspect-ratio: 1;
}



#toggle {
    margin-left: -15px;
    position: absolute;
    width: auto;
    margin-top: 3px;
}

[data-price],
[data-name],
[data-brand] {
    padding: 2%;
    font-size: 1.2vw;
    overflow: hidden;
    text-overflow: ellipsis;
}

[data-brand] {
    font-size: 1.1vw;
    color: gray;
}

[data-price] {
    font-size: 1.3vw;
}

[data-imgCon] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

[data-pfp] {
    aspect-ratio: 1;
    height: 10vh;
}

[data-logout] {
    order: 5;
}

[data-logo] {
    max-height: 150px;
}

@media all and (max-width: 100vh) {
    .top {
        height: 10vh;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .column {
        height: 4vh;
    }

    .price {
        font-size: 4vw;
    }

    .description {
        font-size: 2vw;
    }

    .user-button {
        font-size: 2vw;
        height: auto;
    }

    .recommended-list {
        flex: 0 0 50vw;
        gap: 5vw;
    }

    .results {
        gap: 2vh;
    }

    .result-item {
        width: auto;
    }

    .sort-button {
        width: 15%;
        height: 50%;
        font-size: 10px;
    }
    
    .sort-bar {
        font-size: 10px;
    }

    .action-button {
        padding: 10px;
        width: 5vh;
        height: 5vh;
    }

    .action-bar {
        right: 2vw;
        top: 9vh;
        flex-direction: row;
    }

    .name {
        font-size:5vw;
    }

    .brand {
        font-size: 2.5vw;
    }

    .description {
        font-size: 3vw;
        margin-top: 1vh;
    }

    .color-img {
        height: 8vh;
    }

    .color-list {
        height: 10vh;
    }

    .split {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 5vh;
    }

    .product-image {
        height: 20vh;
        border-radius: 0;
        width: 100%;
        margin: 0;
    }
    
    .product-container {
        width: 100%;
    }

    .product-info {
        width: 100%;
    }

    .filter-label {
        height: 8vh;
        width: 100%;
        font-size: 0px;
    }

    #filter-menu {
        font-size: 1px;
    }

    #menu-list {
        width: 100%;
        left: -100%;
    }

    #menu-list.open {
        transform: translateX(100%);
    }

    .category {
        width: 120px;
    }

    [data-price],
    [data-name],
    [data-brand] {
        font-size: 3vw;
    }

    [data-brand] {
        font-size: 2.8vw;
        color: gray;
    }

    [data-price] {
        font-size: 3.1vw;
    }
}