:root {
    --hover: rgba(218, 218, 218, 0.5);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin-bottom: 10vh;
}

img {
    display: inline;
    height: 100%;
}

hr {
    width: 100%;
}

textarea {
    resize: none;
}

.main, .related {
    margin: 1vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    height: 15vh;
    /* min-height: 100px; */
    /* max-height: 114px; */
    background-image: url(./images/oak\ background.png);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.icon {
    background-color: transparent;
    height: 80%;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon:hover {
    background-color: #c6a58170;
    filter: brightness(0.9);
}

.menu-button {
    background-color: wheat;
    font-size: 2vw;
    padding: 5%;
    border-radius: 10px;
    width: 10vw;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.user-button {
    height: 5vh;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;
}

.menu-button:hover {
    filter: brightness(0.9);
}

.user-button:hover {
    background-color: var(--hover);
}

.open {
    display: flex !important;
}

.open#menu-list {
    transform: translateX(15vw);
}

.open.darken {
    filter: opacity(0.5);
    pointer-events: all;
    overflow: hidden;
}

.darken {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    filter: opacity(0);
    background-color: rgb(51, 51, 51);
    transition: filter 0.5s;
    pointer-events: none;
}

.menu-logo {
    margin: 5vh 0 15vh 0;
}

.banner {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    width: 90%;
    aspect-ratio: 3 / 1;
    cursor: pointer;
}

.ad {
    object-fit: cover;
    border: 1px black solid;
    width: 100%;
}

.search-section {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    margin-top: -1vh;
}

.search {
    margin: 0;
    aspect-ratio: 1;
    height: 5vh;
    border-radius: 0 15px 15px 0;
    background-color: #efc89d;
    transition: all 0.3s;
}

.search:hover {
    background-color: #c6a581;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    height: 7vh;
    padding: 1vh 0;
    transition: all 1s;
}

.filter {
    height: 4.6vh;
    display: inline;
    position: relative;
    right: 10vh;
    margin: 0.2vh 0;
    border-radius: 50%;
    transition: all 0.2s;
}

.filter:hover {
    background-color: var(--hover);
}

.filter-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#filter-menu {
    width: 66.4vw;
    left: 16.8vw;
    background-color: #ffd4a7;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: end;
    transition: all 1s;
    z-index: -1;
    position: absolute;
    transform: translateY(-38vh);
    transition: transform 1s;

}

#filter-menu.down {
    transform: translateY(8vh);
}

#filter-menu.index {
    z-index: 1;
}

.search-container.down {
    margin-bottom: 40vh;
}

.search-column {
    width: 25%;
    display: flex;
    flex-direction: column;

}

.selections {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: start;
    padding: 5%;
    height: 28vh;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 5vh;
}

.recommended-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex: 0 0 20vw;
    gap: 0.5vw;
}

.item,
.result-item,
.related-item {
    aspect-ratio: 1;
    border: 1px black solid;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 70% 10% 10% 10%;
    height: 100%;
    padding: 3px;
    cursor: pointer;
}

.item:hover,
.result-item:hover,
.related-item:hover {
    background-color: rgba(218, 218, 218, 0.5);
}

.results {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5vw;
    margin-top: 5%;
    width: 100%;
    min-height: 100vh;
}

.result-item {
    width: 24.5%;
    height: 40vh;
}

.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
}

.category {
    aspect-ratio: 1;
    width: 15%;
    border: 1px black solid;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-around;
}


.pointer {
    cursor: pointer;
}

.max-width {
    width: 100%;
}

.max-height {
    height: 100%;
}

.square {
    aspect-ratio: 1;
    object-fit: contain;
}

/* --------------------------------------------------------------------------------------------------- */

.background {
    background-image: url(./images/profile\ background.jpg);
    margin-top: 5vh;
    width: 80vw;
    height: 32vw;
    padding: 5% 0 5% 10%;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    gap: 0;
}

.equal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.info {
    height: 100% !important;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10%;
    font-size: 1.5vw;
    display: flex;
    gap: 5%;
    height: 50%;
}

.grow {
    flex-grow: 1;
}

.pfp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24vw;
}

.pfp > img:last-child {
    height: 95%;
    aspect-ratio: 1;
    border: 3px solid black;
    border-radius: 50%;
    object-fit: cover;
}

.edit, .delete {
    position: absolute;
    right: 11vw;
    top: 23vh;
    padding: 5px;
    width: 3vw;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 0.6vw;
    background-color: rgb(233, 233, 233);
    transition: 0.2s all;
}

.edit:hover {
    filter: brightness(0.9);
}

.delete:hover {
    background-color: rgb(247, 88, 88);
}

.camera {
    position: absolute;
    filter: opacity(0);
    height: 22.8vw;
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.3s filter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera > img {
    height: 50%;
}


.camera:hover {
    filter: opacity(1);
    background-color: var(--hover);
}

.camera.furniture {
    height: 6vw;
    position: relative;
    /* width: 8vw; */
    left: 28%;
    /* border: 1px solid black; */
}

.options {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    padding: 5px;
}

.custom {
    border: none;
    border-radius: 10px;
}

.input {
    border-radius: 10px;
    height: 30px;
    padding: 3%;
}

.button {
    border-radius: 10px;
    padding: 0.5%;
    background-color: rgb(240, 240, 240);
    width: 6vw;
    aspect-ratio: 2 / 1;
    transition: 0.3s background-color;
}


.custom.button:hover, .dialog-button:hover {
    background-color: lightgray;
}

.confirm {
    position: absolute;
    left: 30%;
    width: 40%;
    aspect-ratio: 4 / 1;
    flex-direction: column;
}

.confirm > div {
    height: 100%;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog-button {
    width: 5vw;
    aspect-ratio: 2 / 1;
    border-radius: 10px;
    transition: 0.3s background-color;
}

.yes:hover {
    background-color: rgb(37, 255, 37) !important;
}

.none {
    display: none;
}

.border {
    border: 2px solid grey;
}

/* --------------------------------------------------------------------------------------------------- */

.split {
    display: grid;
    grid-template-columns: 55% 45%;
    align-items: start;
}

.product-info {
    margin-right: 5%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border-radius: 20px;
    font-size: 18px;
}

.product-container {
    display: flex;
    flex-direction: column;
}

.product-image {
    aspect-ratio: 9 / 10;
    border: 2px solid black;
    border-radius: 20px ;
}

.product-image > img {
    object-fit: contain;
    width: 100%;
    border-radius: 20px;
}

.name {
    font-size: 1.7vw;
}

.company {
    color: gray;
    font-size: 1.2vw;
}

.price {
    font-size: 2.5vw;
}

.related-list {
    display: flex;
    width: 100%;
    overflow-x: auto;
    flex-wrap: nowrap;
    gap: 3%;
    padding: 1%;
    border-radius: 20px;
}

.related-item {
    width: 15vw;
    padding-bottom: 1%;
}

.color-list {
    margin-top: 5%;
    height: 6vw;
    display: flex;
    align-items: center;
    gap: 5%;
}

.color {
    aspect-ratio: 1;
    height: 4vw;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 0 3px 1px black;
}

.color-img {
    aspect-ratio: 1;
    height: 8vw;
    border: 1px solid black;
}

.color-img > img {
    object-fit: contain;
    width: 100%;
}

.color-img:hover {
    background-color: var(--hover);
}

.related {
    align-items: flex-start;
    font-size: 18px;
}

.highlighted {
    border: 5px solid yellow;
}

/* --------------------------------------------------------------------------------------------------- */

.columns {
    margin: 5vh 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rows {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.column {
    border-right: 1px solid grey;
    text-align: center;
    width: 10%;
    font-size: 1.25vw;
    height: 5vh;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email {
    width: 20%;
}

.image {
    width: 20%;
}

.image > img {
    object-fit: contain;
    max-width: 60%;
}


/* --------------------------------------------------------------------------------------------------- */
.edit-furniture {
    display: flex;
    flex-direction: column;
    gap: 5%;
    height: 50vh;
    overflow-y: auto;
}

.variant-delete, .variant-white {
    aspect-ratio: 1;
    height: 6vh;
    border-radius: 50%;
    padding: 10px;
    transition: all 0.3s;
}

.variant-delete:hover {
    background-color: rgb(247, 88, 88);
}

.add {
    font-size: 25px;
    color: blue;
    font-weight: bold;
}

.error {
    border: 2px solid red;
}

.hapus {
    color: red;
    padding: 0.5%;
}


/* --------------------------------------------------------------------------------------------------- */

#menu-list {
    position: fixed;
    top: 0;
    left: -15vw;
    height: 100%;
    width: 15vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(198, 197, 197);
    align-items: center;
    gap: 5vh;
    transition: transform 0.5s;
}

#user-menu {
    background-color: white;
    border-radius: 5%;
    position: absolute;
    right: 6vw;
    top: 4vh;
    box-shadow: 0 0 5px 5px rgba(135, 134, 134, 0.384);
    width: 10vw;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    z-index: 2;
}

#search-bar {
    width: 80%;
    height: 5vh;
    margin: 0;
    border-radius: 15px 0 0 15px;
    padding-left: 1vw;
}

#user {
    object-fit: cover;
    border: 2px solid black;
    border-radius: 50%;
    aspect-ratio: 1;
}

#image {
    display: none;
}


#toggle {
    margin-left: -15px;
    position: absolute;
    width: auto;
    margin-top: 3px;
}

[data-price],
[data-name],
[data-company] {
    padding: 2%;
    font-size: 1.2vw;
}

[data-company] {
    font-size: 1.1vw;
    color: gray;
}

[data-price] {
    font-size: 1.3vw;
}

[data-imgCon] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

[data-pfp] {
    aspect-ratio: 1;
    height: 10vh;
}

[data-logout] {
    order: 5;
}

[data-logo] {
    max-height: 150px;
}

@media screen and (max-width: 100vh) {
    .top {
        height: 10vh;
    }
}
    
